$color: RGB(138, 43, 226);
.header{
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(108, 108, 108, 0.15);
    background-color: #fff;

    .title{
      font-size: 27px;
      font-weight: 600;
      color: $color;
    }
    .icons{
      font-size: 22px;
      color: $color;
    }
  }

  @media (max-width:768px){
    .header{
      
      .title{
        justify-content: center;
        align-items: center;
        font-size: 17px;
      }
      .logo{
        width: 90px;
      }
      .icons{
        font-size: 18px;
      }
    }
  }